@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

* {
  text-decoration: none;
}

header {
  padding-top: 30px;
  width: 100%;
  height: 100vh;
  background-color: #FFFBF3;
  background-image: url(../assets/images/header-food-image.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 60%;
  background-size: 50%;
}

.menu {
  display: none;
}

label .menu {
  position: absolute;
  right: 0;
  top: -100px;
  z-index: 100;
  width: 100px;
  height: 100px;
  border-radius: 50% 50% 50% 50%;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #FCC647;
  display: block;
  transform-origin: center;
  transition: 0.5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #FCC647;
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label .dropdown {
  display: none;
}

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
  border-radius: 0;
}

label input:checked + .menu .hamburger {
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul {
  opacity: 1;
}

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s 0s ease-in-out;
}

label a {
  font-family: "Inter";
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1em;
  display: block;
  color: #FCC647;
  text-decoration: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}
.navbar .navbar-lists {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  font-size: 1.25rem;
  font-family: "Palanquin Dark";
  font-weight: 500;
}
.navbar .navbar-lists .navbar-list .active {
  color: #FCC647 !important;
  border-bottom: 2px solid #FCC647;
  cursor: default;
}
.navbar .navbar-lists .navbar-list a {
  line-height: 5px;
  transition: 0.2s;
  color: #3C3C3C;
}
.navbar .navbar-lists .navbar-list a:hover {
  border-bottom: 2px solid #FCC647;
  color: #FCC647;
}
.navbar .logo {
  font-family: "Inter";
  font-weight: 700;
}
.navbar .logo .logo-tammy {
  color: #FCC647;
  padding-right: 5px;
}
.navbar .logo .logo-food {
  color: #3C3C3C;
}

.header-box {
  margin-top: 140px;
}

.header-info {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
}
.header-info .box-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header-info .box-links .more-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.header-info .box-links .more-info .more-info-link {
  font-family: "Inter";
  color: #3C3C3C;
  font-size: 1rem;
}

.header-box-header {
  font-family: "Palanquin Dark";
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  color: #3C3C3C;
}
.header-box-header span {
  color: #FCC647;
}

.header-box-paragraph {
  font-family: "Inter";
  font-weight: 400;
  color: #667085;
  line-height: 2rem;
  width: 80%;
}

.more-info:hover {
  cursor: pointer;
}
.more-info:hover .more-info-link {
  color: #FCC647 !important;
  transition: 0.2s;
}

.helper-btn {
  width: 9rem;
  height: 2.5rem;
  color: #FCC647;
  background-color: #FFF2D4;
  font-family: "Inter";
  font-weight: 600;
  border: 0;
  border-radius: 7px;
  transition: 0.2s;
}
.helper-btn:hover {
  cursor: pointer;
  color: white;
  background-color: #FCC647;
}

.main-btn {
  color: white;
  background-color: #FCC647;
  border: 0;
  border-radius: 3rem;
  box-shadow: 0px 15px 40px rgba(249, 213, 128, 0.25);
  width: 9rem;
  height: 3.25rem;
  font-family: "Inter";
  font-weight: 500;
  font-size: 1.18rem;
  transition: 0.2s;
}
.main-btn:hover {
  cursor: pointer;
  color: #FCC647;
  border: 1px solid #FCC647;
  background-color: white;
}

.info-section {
  margin-top: 9rem;
}

.info-boxes .boxes-title {
  width: 50%;
  margin: 0 auto;
}

.info-title {
  text-align: center;
  font-family: "Palanquin Dark";
  font-weight: 700;
  font-size: 2.25rem;
  margin-bottom: 30px;
  color: #3C3C3C;
}

.info-paragraph {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1rem;
  line-height: 27px;
  color: #667085;
  text-align: center;
}

.info-section-box {
  position: relative;
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.info-section-box .box-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.info-section-box .box-card h4 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 1.1rem;
  color: #3C3C3C;
}

.absolut {
  margin-top: 100px;
}

.vector-1 {
  position: absolute;
  top: 30%;
  left: 22%;
}

.vector-2 {
  position: absolute;
  top: 30%;
  right: 22%;
}

.foods {
  margin-top: 9rem;
}

.food-container .pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  gap: 20px;
}
.food-container .pagination .pagination-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(112, 112, 112, 0.2);
  background-color: #fff;
  color: #667085;
  font-family: "Inter";
  font-weight: 700;
  font-size: 1rem;
  transition: 0.2s;
}
.food-container .pagination .pagination-btn:hover {
  cursor: pointer;
  background-color: #FCC647;
  color: #fff;
  border: 0;
}
.food-container .pagination .active-btn {
  border: 0;
  background-color: #FCC647;
  color: #fff;
  cursor: default !important;
}
.food-container .pagination .previous,
.food-container .pagination .next {
  color: #FCC647;
}

.food-container-title {
  width: 50%;
  margin: 0 auto;
}

.foods-menu-cards {
  width: 100%;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  gap: 20px;
}
.foods-menu-cards .food-card {
  width: 100%;
  border: 0.7px solid rgba(112, 112, 112, 0.2);
  border-radius: 11px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.foods-menu-cards .food-card:hover {
  border: 1px solid #FCC647;
  box-shadow: 0px 30px 30px 13px rgba(198, 198, 198, 0.25);
  border-radius: 10.4827px;
}
.foods-menu-cards .food-card .meal-image {
  align-self: center;
}
.foods-menu-cards .food-card h5 {
  font-family: "Palanquin Dark";
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 22px;
  color: #3C3C3C;
}
.foods-menu-cards .food-card p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #667085;
}
.foods-menu-cards .food-card .price-food {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.foods-menu-cards .food-card .price-food .price {
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
.foods-menu-cards .food-card .price-food button {
  border: 0;
  color: #fff;
  background-color: #fff;
}
.foods-menu-cards .food-card .price-food button:hover {
  cursor: pointer;
}

.target {
  width: 100%;
  background-color: #FFFBF3;
  margin-top: 9rem;
}

.target-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.target-box .target-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.target-box .target-info h2 {
  width: 100% !important;
}
.target-box .target-info p {
  width: 100% !important;
}
.target-box .target-info .target-btn {
  background-color: #FCC647;
  color: #fff;
  border-radius: 6px;
  border: 0;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 600;
  padding: 16px 19px;
  cursor: pointer;
  transition: 0.2s;
}
.target-box .target-info .target-btn:hover {
  background-color: #fff;
  border: 1px solid #FCC647;
  color: #FCC647;
}

.advertise {
  margin-top: 9rem;
}
.advertise .advertise-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.advertise .advertise-container .advertise-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}
.advertise .advertise-container .advertise-box h3 {
  font-family: "Palanquin Dark";
  font-weight: 700;
  font-size: 2.25rem;
  color: #3C3C3C;
}
.advertise .advertise-container .advertise-box p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1rem;
  line-height: 27px;
  color: #667085;
}

footer {
  background-color: #232233;
  margin-top: 18rem;
}
footer .contact-number-mail {
  position: relative;
  top: -150px;
  background-color: #fff;
  filter: drop-shadow(0px 10px 100px rgba(0, 0, 0, 0.24));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 65px 100px;
  border-radius: 30px;
}
footer .contact-number-mail .line {
  width: 5px;
  height: 150px;
  background-color: rgba(112, 112, 112, 0.2);
  border-radius: 20px;
}
footer .contact-number-mail a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #3C3C3C;
  transition: 0.2s;
}
footer .contact-number-mail a:hover {
  color: #FCC647;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-container .social-media {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}
.footer-container .social-media .footer-logo .logo-link {
  font-family: "Inter";
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.footer-container .social-media .footer-logo .logo-link .logo-tammy {
  color: #fff;
  padding-right: 5px;
}
.footer-container .social-media .footer-logo .logo-link .logo-food {
  color: #FCC647;
}
.footer-container .social-media .footer-paragraph {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #fff;
}
.footer-container .social-media .social-logos {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-container .social-media .social-logos .social-logo {
  transition: 0.3s;
  font-size: 25px;
  color: #fff;
  border-right: 2px solid #fff;
  padding-right: 25px;
}
.footer-container .social-media .social-logos .social-logo:hover {
  color: #FCC647;
}
.footer-container .social-media .social-logos .social-logo:nth-last-child(1) {
  border-right: 0;
}
.footer-container .quick-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.footer-container .quick-link h6 {
  text-transform: uppercase;
  font-family: "Inter";
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #fff;
}
.footer-container .quick-link a {
  font-family: "Palanquin Dark";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  transition: 0.3s;
}
.footer-container .quick-link a:hover {
  color: #FCC647;
}
.footer-container .subscribe {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}
.footer-container .subscribe h6 {
  text-transform: uppercase;
  font-family: "Inter";
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #fff;
}
.footer-container .subscribe p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #fff;
}

form {
  width: 100%;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-input {
  border: 0;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  border-radius: 4px;
}

.footer-btn {
  height: 50px;
  border-radius: 4px;
  border: 0;
  background-color: transparent;
}
.footer-btn:hover {
  cursor: pointer;
}

.copyright .copyright-line {
  width: 100%;
  border: 1px solid #fff;
  margin-top: 50px;
}
.copyright .copyright-paragraph {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 1280px) {
  header {
    height: 100vh;
  }
}
@media (max-width: 992px) {
  header {
    height: 100vh;
    background-position-y: 60%;
    background-size: 50%;
  }
  .menu {
    display: inline-block;
  }
  .navbar .navbar-lists {
    display: none;
  }
  .vector-1,
  .vector-2 {
    display: none;
  }
  .target-box {
    flex-direction: column;
    gap: 20px;
  }
  .target-box .target-info {
    padding-bottom: 20px;
  }
  .advertise .advertise-container {
    flex-direction: column-reverse;
  }
  footer .contact-number-mail {
    flex-direction: column;
  }
  .social-logos .social-logo {
    border: 0 !important;
  }
  .footer-input {
    padding-left: 5px;
  }
}
@media (max-width: 768px) {
  header {
    height: 50vh;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 60%;
    background-size: 50%;
  }
  .header-box {
    margin-top: 50px;
  }
  .header-box .header-info {
    gap: 20px;
  }
  .menu {
    display: inline-block;
  }
  .navbar .navbar-lists {
    display: none;
  }
  .header-box-header {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .header-box-paragraph {
    font-size: 12px;
    line-height: 1.5rem;
  }
  .helper-btn {
    width: 6.5rem;
  }
  .main-btn {
    width: 7rem;
    font-size: 1rem;
  }
  .more-info-link {
    font-size: 0.8rem;
  }
  .info-section {
    margin-top: 5rem;
  }
  .info-boxes .boxes-title {
    width: 70%;
    margin: 0 auto;
  }
  .info-section-box {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .info-section-box .vector-1,
  .info-section-box .vector-2 {
    display: none;
  }
  .info-section-box .absolut {
    margin: 0;
  }
  .foods {
    margin-top: 5rem;
  }
  .food-container-title {
    width: 70%;
    margin: 0 auto;
  }
  .foods-menu-cards {
    margin-top: 2rem;
  }
  .food-container .pagination {
    margin-top: 2rem;
  }
  .target {
    margin-top: 5rem;
  }
  .target .target-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  .target .target-box .target-info {
    padding-bottom: 20px;
  }
  .target .target-box .target-image img {
    width: 80%;
  }
  .advertise {
    margin-top: 5rem;
  }
  .advertise .advertise-container {
    flex-direction: column-reverse;
  }
  .advertise .advertise-container img {
    width: 50%;
  }
  .advertise .advertise-container .app-download {
    display: flex;
    gap: 50px;
    width: 100%;
  }
  .advertise .advertise-container .app-download img {
    width: 100%;
  }
  footer .contact-number-mail {
    flex-direction: column;
  }
  footer .contact-number-mail a {
    font-size: 1rem;
  }
  footer .footer-container {
    flex-direction: column;
    gap: 100px;
    align-items: flex-start;
  }
  footer .footer-container .social-media {
    width: 100%;
  }
  footer .footer-container .social-media .social-logos .social-logo {
    border: 0;
  }
  footer .footer-container .quick-link {
    width: 100%;
  }
  footer .footer-container .subscribe {
    width: 100%;
    gap: 20px;
  }
  footer label {
    justify-content: flex-start;
  }
  footer label .footer-input {
    width: 50%;
  }
}
@media (max-width: 576px) {
  header {
    height: 70vh;
    background-image: none;
  }
  .header-box {
    margin-top: 50px;
  }
  .header-box .header-info {
    gap: 20px;
  }
  .header-info {
    width: 100%;
  }
  .menu {
    display: inline-block;
  }
  .navbar .navbar-lists {
    display: none;
  }
  .header-box-header {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .header-box-paragraph {
    font-size: 12px;
    line-height: 1.5rem;
  }
  .helper-btn {
    width: 6.5rem;
  }
  .main-btn {
    width: 7rem;
    font-size: 1rem;
  }
  .more-info-link {
    font-size: 0.8rem;
  }
  .info-section {
    margin-top: 5rem;
  }
  .info-boxes .boxes-title {
    width: 70%;
    margin: 0 auto;
  }
  .info-section-box {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .info-section-box .vector-1,
  .info-section-box .vector-2 {
    display: none;
  }
  .info-section-box .absolut {
    margin: 0;
  }
  .foods {
    margin-top: 5rem;
  }
  .food-container-title {
    width: 70%;
    margin: 0 auto;
  }
  .foods-menu-cards {
    margin-top: 2rem;
  }
  .food-container .pagination {
    margin-top: 2rem;
    gap: 5px;
  }
  .target {
    margin-top: 5rem;
  }
  .target .target-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  .target .target-box .target-info {
    padding-bottom: 10px;
  }
  .target .target-box .target-image img {
    width: 80%;
  }
  .advertise {
    margin-top: 5rem;
  }
  .advertise .advertise-container {
    flex-direction: column-reverse;
  }
  .advertise .advertise-container img {
    width: 50%;
  }
  .advertise .advertise-container .app-download {
    display: flex;
    gap: 50px;
    width: 100%;
  }
  .advertise .advertise-container .app-download img {
    width: 100%;
  }
  footer .contact-number-mail {
    padding: 20px 20px;
    flex-direction: column;
  }
  footer .contact-number-mail a {
    font-size: 1rem;
  }
  footer .footer-container {
    flex-direction: column;
    gap: 100px;
    align-items: flex-start;
  }
  footer .footer-container .social-media {
    width: 100%;
  }
  footer .footer-container .social-media .social-logos .social-logo {
    border: 0;
  }
  footer .footer-container .quick-link {
    width: 100%;
  }
  footer .footer-container .subscribe {
    width: 100%;
    gap: 20px;
  }
}
@media (max-width: 320px) {
  .menu {
    display: inline-block;
  }
  .navbar .navbar-lists {
    display: none;
  }
  header {
    height: 100vh;
    background-image: none;
  }
  .header-box {
    margin-top: 50px;
  }
  .header-box .header-info {
    gap: 20px;
  }
  .menu {
    display: inline-block;
  }
  .navbar .navbar-lists {
    display: none;
  }
  .header-box-header {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .header-box-paragraph {
    font-size: 12px;
    line-height: 1.5rem;
  }
  .helper-btn {
    width: 6.5rem;
  }
  .main-btn {
    width: 7rem;
    font-size: 1rem;
  }
  .more-info-link {
    font-size: 0.8rem;
  }
  .info-section {
    margin-top: 5rem;
  }
  .info-boxes .boxes-title {
    width: 70%;
    margin: 0 auto;
  }
  .info-section-box {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .info-section-box .vector-1,
  .info-section-box .vector-2 {
    display: none;
  }
  .info-section-box .absolut {
    margin: 0;
  }
  .foods {
    margin-top: 5rem;
  }
  .food-container-title {
    width: 70%;
    margin: 0 auto;
  }
  .foods-menu-cards {
    margin-top: 2rem;
  }
  .food-container .pagination {
    margin-top: 2rem;
    gap: 3px;
  }
  .target {
    margin-top: 5rem;
  }
  .target .target-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  .target .target-box .target-info {
    padding-bottom: 10px;
  }
  .target .target-box .target-image img {
    width: 80%;
  }
  .advertise {
    margin-top: 5rem;
  }
  .advertise .advertise-container {
    flex-direction: column-reverse;
  }
  .advertise .advertise-container img {
    width: 50%;
  }
  .advertise .advertise-container .app-download {
    display: flex;
    gap: 50px;
    width: 100%;
  }
  .advertise .advertise-container .app-download img {
    width: 100%;
  }
  footer .contact-number-mail {
    flex-direction: column;
  }
  footer .contact-number-mail a {
    font-size: 1rem;
  }
  footer .footer-container {
    flex-direction: column;
    gap: 100px;
    align-items: flex-start;
  }
  footer .footer-container .social-media {
    width: 100%;
  }
  footer .footer-container .social-media .social-logos .social-logo {
    border: 0;
  }
  footer .footer-container .quick-link {
    width: 100%;
  }
  footer .footer-container .subscribe {
    width: 100%;
    gap: 20px;
  }
}/*# sourceMappingURL=style.css.map */